#a2jnavbar .nav-link{
    color:whitesmoke;
    font-size: large;
}

#a2jnavbar .navbar-custom{
    background-color: #0e2f56;
    padding: 0;
    margin: 0;
}

#a2jnavbar .search_nav{
    width: "100px";
}