#team{
    margin-top: 4%;
    margin-bottom: 1%;
}


#team img{
    height: 100%;
    width: 100%;
}

#team .imgparentdiv{
    height: 10em;
}

#team .card{
    height:20em;
    width: 14em;
    border: none;
}

#team .card-body{
    text-align: center;
    color:black;
}

#team #heading{
    font-size: 2em;
    padding: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
