

 #search1{
     margin-left: 15%;
     margin-right: 15%;
     margin-bottom: 10%;
 }

 #functionalbuttons{
    margin-top: 10%;
    margin-bottom: 5%;
 }

 #bookappointment{
     margin-top: 5%;
     background-image: url('./bgimage.jpg');
     padding-top: 5%;
 }

 #advertisements{
     margin-top: 7%;
 }

 #userexp{
     margin-bottom: 5%;
 }