
.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    margin-top: 5%;
} 
  
.icon { 
    padding: 1%; 
    margin-top: 1%;
    margin-left: 1%;
} 
  
.input-field { 
    width: 100%; 
    padding: 1%; 
    text-align: center; 
} 

