

#thankyou{
    height:30vh;
    padding: 10%;
    margin-bottom: 10%;
    text-align: center;
}

#advvertical2{
    padding: 10%;
    margin-bottom: 10%;
    text-align: center;
}

#bookappointment{
    text-align: center;
    margin-top: auto;
}