

.article_image{
    height: 11rem;
    width: 17em;
    margin-bottom: 3%;
}

.cardd{
    height: 20em;
    border-width: 0;
    
}

#toparticles .card-body{
    background-color:#0e2f56;
    color: whitesmoke;
    padding: 3%;
}

#toparticles .btn-custom{
    background-color: #0e2f56;
    color: whitesmoke;
}