#register-chamber {
  margin-bottom: 2em;
}

#register-chamber span {
  float: right;
  font-size: 0.8em;
  /* background: red; */
}

#register-chamber .button-margin {
  margin: 1em 0 0 0;
  width: 12em;
}

#register-chamber .otp-div {
  border: 0.5px solid gray;
  padding: 1em;
  margin-bottom: 1em;
}

#register-chamber .buttons {
  padding: 1em 0;
  text-align: center;
  margin-bottom:3%;
}

#register-chamber .advocate-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#register-chamber .join-a2j {
  color: blue;
  font-weight: bold;
  font-size: 1.3em;
}

#register-chamber .left-pane {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#register-chamber .heading1 {
  font-weight: bold;
}

#register-chamber .btn-active {
  width: 50%;
  color: blue;
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: 3px 3px 5px 3px #ccc;
}

#register-chamber .btn-sec {
  width: 50%;
  color: #696969;
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: 3px 3px 5px 3px #ccc;
}

@media all and (max-width: 992px) {
  #register-chamber .left-pane {
    display: none;
  }
}

@media all and (min-width: 992px) {
  #register-chamber .login-card {
    width: 30em;
  }
  #register-chamber {
    padding-top: 10em;
  }
}

@media all and (min-width: 900px) {
  #register-chamber img {
    height: 30em;
    width: 30em;
  }
}

@media all and (max-width: 992px) {
  #register-chamber .login-card {
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid #ccc; */
    /* padding: 2em 4em; */
  }
  #register-chamber {
    padding-top: 5em;
  }
}
